
h1{
	font-family: 'Courgette', cursive;
}
h1 span{
	color:#007bff;
	font-weight: bolder;
}
.header-view p{
	color:#888;
	margin-bottom: 70px
}

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/*Start Navbar */
		.navbar{
			background-color:#60117600;
		}
		.navbar-brand{
			margin-left: 60px;
			font-family: 'Lobster', cursive;
			font-size: 38px;
		    font-weight: 500;
		}

		.navbar-nav{
			margin-left: 35px;
		}

		.right-items-nav{
			margin-right: 30px;
			color:#FFF;
			font-weight: 600;
		}
		.navbar-login,
		.navbar-register{
			font-family: 'Courgette', cursive;
		}

		.nav-item{
			margin:28px auto;
			margin-left: 55px;
		}
		.nav-link{
			color:#FFF;
		}

		.nav-item a:hover{
			color: #9fb0a9;
		}

		.dropdown-menu{
			min-width: 200px;
			background-color: #FFF;
		}
		.dropdown-item{
			-webkit-transition:padding 0.5s ease;
			-moz-transition:padding 0.5s ease;
			-o-transition:padding 0.5s ease;
			transition:padding 0.5s ease;
			color: black;
		}

		.dropdown-item:hover, .dropdown-item:focus{
			background-color: #601176;
			color: #FFF;
			padding-left: 30px;
		}

		.categories-menu a:hover,
		.profile-image-menu a:hover{
			color:#FFF;
		}

		.nav-scrolling{
			height:75px;
			background-color: black;
			transition:background-color 1.5s ease;
		}

		.user-img-nav img{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			cursor:pointer;
		}
		.user-img-nav img:hover{
			box-shadow: 3px 3px 14px #7b7b7b;
		}


	/*End Navbar */

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* Start Views */
	
		.main-raised{
			background: #FFF;
		    position: relative;
		    z-index: 3;
			margin: -85px 60px 0;
	  		border-radius: 6px;
	  		box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
	  		padding: 50px;
		}

	/* End Views */

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* start category view*/

	.category-view .our-categories-text p{
		color: #007bff;
	    letter-spacing: 1px;
	    margin-bottom: 17px;
	    font-size: 16px;
	    font-weight: 500;
	}

	.category-view .our-categories-text h1{
		letter-spacing: 3px;
	    font-size: 34px;
	    font-family: myFont-heavy;
	    margin-bottom: 40px;
	}

	.category-view .our-categories .category-overlay{
		background-color: #4a1a698f;
		width: 200px;
		height: 100%;
		position: absolute;
		border-radius: 30%;
		-webkit-transition:background-color 0.4s ease;
		-moz-transition:background-color 0.4s ease;
		-o-transition:background-color 0.4s ease;
		transition:background-color 0.4s ease;
	}

	.category-view .our-categories .category-overlay:hover{
		background-color: #4a1a69;
	}

	.category-view .our-categories .category-overlay p{
		color:white;
		font-size: 27px;
		font-weight: bolder;
		padding-top: 36%
	}

	.category-view .our-categories img{
		height: 200px;
		width: 200px;
		border-radius: 30%
	}

	.category-view .category-image img{
		height: 500px;
		width: 600px;
		margin-top: 90px
	}


	/* start category view*/

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* Start Product view*/

		.product_view .overlay_product{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 35%;
			background-color:#ffffff00;
			-webkit-transition:background-color 0.4s ease;
			-moz-transition:background-color 0.4s ease;
			-o-transition:background-color 0.4s ease;
			transition:background-color 0.4s ease;
		}

		.product_view .overlay_product a{
			font-size: 20px;
			position: relative;
			left: 66%;
			-webkit-transition:left 0.4s ease;
			-moz-transition:left 0.4s ease;
			-o-transition:left 0.4s ease;
			transition:left 0.4s ease;
		}

		.product_view .product_part {
			box-shadow: 4px 3px 19px #ab9a9a;
			overflow-x: hidden;
			margin-bottom: 30px
		}

		.product_view .product_part:hover .overlay_product{
			background-color: #3c393982;
			
		}
		.product_view .product_part:hover a{
			left: 0
		}

	/* End Product view*/

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/


	/* Start Orders View*/

		.shopping-cart {
		    height: 423px;
		    background: #FFFFFF;
		    box-shadow: 2px 2px 5px 17px rgba(146, 142, 142, 0.23);
	   		border-radius: 90px 1px 90px 1px;
		    display: flex;
		    flex-direction: column;
		    overflow-y: scroll;
		}

		/*start scroll edition*/

			/* width of scroll*/
			.shopping-cart::-webkit-scrollbar {
			  width: 5px;
			}

			/* scroll background */
			.shopping-cart::-webkit-scrollbar-track {
			  background:rgba(0,0,0,.0); 
			  height: 10px
			}

			.shopping-cart::-webkit-scrollbar-track-piece:start {
				//
			}

			.shopping-cart::-webkit-scrollbar-track-piece:end {
				margin-bottom: 80px
			}
			 
			/* scroll */
			.shopping-cart::-webkit-scrollbar-thumb {
			  background: rgba(0,0,0,.3); 
			  border-radius:90px 1px 90px 1px;
			}

			/* scroll on hover */
			.shopping-cart::-webkit-scrollbar-thumb:hover {
			  background: black; 
			}

		/*end scroll edition*/
		 
		.shopping-cart .item {
		  padding: 20px 30px;
		  display: flex;
		  border-bottom: 1px solid #E1E8EE;
		}
		 

		.shopping-cart .close {
		 	margin-top: auto;
		    margin-right: 70px;
		    margin-bottom: auto;
		}
		.shopping-cart .delete-btn {
		  display: inline-block;
		  Cursor: pointer;
		}
		.shopping-cart .delete-btn {
		  width: 18px;
		  height: 17px;
		}


		.shopping-cart .image {
		  margin-right: 70px;
		}

		.shopping-cart .image img{
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}
		 
		
		.shopping-cart .Item-Name {
		  margin-right: 70px;
		  margin-top: 35px;
		  width: 100px
		}

		.shopping-cart .quantity {
		  padding-top: 35px;
		  margin-right: 60px;
		}

		.shopping-cart .quantity button{
		    width: 30px;
		    height: 30px;
		    background-color: #E1E8EE;
		    border-radius: 6px;
		    border: none;
		    cursor: pointer;
		}

		.shopping-cart .quantity button i{
			color:#676775;
		}

		.shopping-cart input {
		  -webkit-appearance: none;
		  border: none;
		  text-align: center;
		  width: 32px;
		  font-size: 16px;
		  color: #43484D;
		  font-weight: 600;
		  background-color: white;
		}
		 

		.shopping-cart .minus-btn img {
		  margin-bottom: 3px;
		}
		.shopping-cart .plus-btn img {
		  margin-top: 2px;
		}

		.shopping-cart .total-price {
		  width: 83px;
		  padding-top: 35px;
		  text-align: center;
		  font-size: 16px;
		  color: #43484D;
		  font-weight: bolder;
		}
		

	/* End Orders View*/

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/
	
	/* Start profile-info*/

		.profile-info div{
			padding: 10px
		}
		.profile-info span{
			color:#d800ff;
		}

	/* End profile-info*/

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* Start comments box*/

		.comment-box{
			padding: 10px;
		}
		.comment-content input{
			width: 60%;
		    padding: 10px;
		    border-width: 0;
		    border-radius: 29px;
		}
		.comment-content input:focus{
		    outline-width: 0;
		}
		.comment-box .comment-owner,
		.comment-box .comment-content{
			display:inline-block;
		}
		.comment-box .comment-owner{
			margin-bottom: 10px;
		}
		.comment-box .comment-content{
			margin-left: 20px;
			background-color: #EFEFEF;
			position: relative;
			padding: 15px;
			width: 95%;
			border-radius: 40px;
		}
		.comment-box .comment-content:before{
			content: "";
			display: block;
			position: absolute;
			top: -26px;
			left: 28px;
			border-style: solid;
			border-width: 15px;
			border-color: transparent transparent #EFEFEF transparent;
		}
		
	/* end comments box*/
		
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* start upload image*/

		.upload-img{
			position: relative;
		}
		.upload-img img{
			height: 100%;
			width: 90%;
			box-shadow: 9px 4px 22px #9e9999;
		}
		.overlay-upload-img{
			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #0000006e;
			opacity: 0;
		    height: 100%;
			width: 90%;
		}
		.overlay-upload-img div{
		    position: relative;
    		top: 45%;
			font-size: x-large;
			color: #d2c6c6;
		}
		.upload-img:hover .overlay-upload-img{
			opacity: 1;
			cursor: pointer;
		}
		.upload-img input[type="file"]{
			position: absolute;
			top: 0;
			z-index: 999;
			height: 100%;
		    width: 100%;
		    opacity: 0;
		    cursor: pointer;
		}

	/* end upload image*/
