
/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/*Start Navbar */
	.navbar{
		background-color:#60117600;
	}
	.navbar-brand{
		margin-left: 60px;
		font-family: 'Lobster', cursive;
		font-size: 38px;
	    font-weight: 500;
	}

	.navbar-nav{
		margin-left: 35px;
	}

	.right-items-nav{
		margin-right: 30px;
		color:#FFF;
		font-weight: 600;
	}
	.navbar-login,
	.navbar-register{
		font-family: 'Courgette', cursive;
	}

	.nav-item{
		margin:28px auto;
		margin-left: 55px;
	}
	.nav-link{
		color:#FFF;
	}

	.nav-item a:hover{
		color: #9fb0a9;
	}

	.dropdown-menu{
		min-width: 200px;
		background-color: #FFF;
	}
	.dropdown-item{
		-webkit-transition:padding 0.5s ease;
		-moz-transition:padding 0.5s ease;
		-o-transition:padding 0.5s ease;
		transition:padding 0.5s ease;
		color: black;
	}

	.dropdown-item:hover, .dropdown-item:focus{
		background-color: #601176;
		color: #FFF;
		padding-left: 30px;
	}

	.categories-menu a:hover,
	.profile-image-menu a:hover{
		color:#FFF;
	}

	.nav-scrolling{
		height:75px;
		background-color: #7426af;
		transition:background-color 1.5s ease;
	}

	.user-img-nav img{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		cursor:pointer;
	}
	.user-img-nav img:hover{
		box-shadow: 3px 3px 14px #7b7b7b;
	}


	/*End Navbar */

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/* Start Carousel*/


	.overlay-Carousel{
		 position: absolute;
	     width: 100%;
	     height: 100%;
	     top: 0;
	     left:0;
	     background-color:rgba(0,0,0,.25);
	     z-index: 2;
	}


	/* End Carousel*/

/* ----------------------------------------------------------------*/
/* ----------------------------------------------------------------*/

	/*Start loginForm*/


	.login-form h2,
	.register-form h2{
		margin: 40px
	}

	/*end loginForm*/